.article
    display inline-block
    padding 15px 30px 5px 30px
    background-color #E7E7E8
    color black
    text-decoration none

    &:hover
        border-left 5px solid #D96F32
        margin-left -5px

    &__title  
        margin-top 5px
        font-size 18px

    &__description
        font-size 14px