.spinner
    width 60px
    height 60px
    border 7px solid #f3f3f3
    border-top 7px solid #555
    border-radius 50%
    animation: spin 2s linear infinite;

@keyframes spin {
    from {
        transform rotate(0deg)
    }

    to {
        transform rotate(360deg)
    }
}